{{ template "header" . }}
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800 mx-auto">Account Details</h1>
      
	</div>
       
  <div class="card shadow mb-4">
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>BankNumber</th>
                                            <th>AccountNumber</th>
                                            <th>All Details</th>
                                            
                                          
                                        </tr>
                                    </thead>
                                
                                    {{ range .Accounts }}
                                        <tr>
                                            <td>{{ .AccountHolderName }}</td>
                                            <td>{{ .BankNumber }}</td>
                                            <td>{{ .AccountNumber }}</td>
                                            <td>
            
                                                    <span class="material-symbols-outlined Vieworder" data-bs-toggle="modal"  data-bs-target="#{{ .AccountNumber }}" style="cursor: pointer;"> visibility </span>
                                                
                                            </td>
                                            <div class="modal fade" id="{{ .AccountNumber }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <h3>Account Information</h3>
                                                                <p><strong>Account Number:</strong> {{ .AccountNumber }}</p>
                                                                <p><strong>Bank Number:</strong> {{ .BankNumber }}</p>
                                                                <p><strong>Account Holder Name:</strong> {{ .AccountHolderName }}</p>
                                                                <p><strong>Account Balance:</strong> {{ .AccountBalance }}</p>
                                                                <p><strong>Overdraft:</strong> {{ .Overdraft }}</p>
                                                                <p><strong>Available Balance:</strong> {{ .AvailableBalance }}</p>
                                                            
                                                            </div>
                                                            <div class="col-md-6">
                                                                <h3>Contact Information</h3>
                                                                
                                                                <form id="myform">
                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.GivenName }}" class="d-none">
                                                                            <span class="input-group-text">GivenName</span>
                                                                            <input type="text" class="form-control" name="accountHolderGivenName" id="accountHolderGivenName" value="{{ .AccountHolderDetails.GivenName }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.FamilyName }}" class="d-none">
                                                                            <span class="input-group-text">FamilyName</span>
                                                                            <input type="text" class="form-control" name="accountHolderFamilyName" id="accountHolderFamilyName" value="{{ .AccountHolderDetails.FamilyName }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="date" name="Id" value="{{ .AccountHolderDetails.DateOfBirth }}" class="d-none">
                                                                            <span class="input-group-text">DateOfBirth</span>
                                                                            <input type="text" class="form-control" name="accountHolderDateOfBirth" id="accountHolderDateOfBirth" value="{{ .AccountHolderDetails.DateOfBirth }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.ContactNumber1 }}" class="d-none">
                                                                            <span class="input-group-text">ContactNumber1</span>
                                                                            <input type="text" class="form-control" name="accountHolderContactNumber1" id="accountHolderContactNumber1" value="{{ .AccountHolderDetails.ContactNumber1 }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.ContactNumber2 }}" class="d-none">
                                                                            <span class="input-group-text">ContactNumber2</span>
                                                                            <input type="text" class="form-control" name="accountHolderContactNumber2" id="accountHolderContactNumber2" value="{{ .AccountHolderDetails.ContactNumber2 }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.EmailAddress }}" class="d-none">
                                                                            <span class="input-group-text">EmailAddress</span>
                                                                            <input type="text" class="form-control" name="accountHolderEmailAddress" id="accountHolderEmailAddress" value="{{ .AccountHolderDetails.EmailAddress }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.AddressLine1 }}" class="d-none">
                                                                            <span class="input-group-text">AddressLine1</span>
                                                                            <input type="text" class="form-control" name="accountHolderAddressLine1" id="accountHolderAddressLine1" value="{{ .AccountHolderDetails.AddressLine1 }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.AddressLine2 }}" class="d-none">
                                                                            <span class="input-group-text">AddressLine2</span>
                                                                            <input type="text" class="form-control" name="accountHolderAddressLine2" id="accountHolderAddressLine2" value="{{ .AccountHolderDetails.AddressLine2 }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.AddressLine3 }}" class="d-none">
                                                                            <span class="input-group-text">AddressLine3</span>
                                                                            <input type="text" class="form-control" name="accountHolderAddressLine3" id="accountHolderAddressLine3" value="{{ .AccountHolderDetails.AddressLine3 }}"  required>
                                                                        </div>

                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.PostalCode }}" class="d-none">
                                                                            <span class="input-group-text">PostalCode</span>
                                                                            <input type="text" class="form-control" name="accountHolderPostalCode" id="accountHolderPostalCode" value="{{ .AccountHolderDetails.PostalCode }}"  required>
                                                                        </div>
                                                                        <div class="input-group mb-3">
                                                                            <input type="text" name="Id" value="{{ .AccountHolderDetails.Country }}" class="d-none">
                                                                            <span class="input-group-text">Country</span>
                                                                            <input type="text" class="form-control" name="country" id="country" value="{{ .AccountHolderDetails.Country }}"  required>
                                                                        </div>
                                                                          <div class="input-group mb-3 d-none"  >
                                                                            <input type="text" name="Id" value="{{ .AccountNumber }}" class="d-none">
                                                                            <span class="input-group-text">AccountNumber</span>
                                                                            <input type="text" class="form-control" name="accountNumber" id="accountNumber" value="{{ .AccountNumber }}"  required>
                                                                        </div>
                                                                
                                                                        
                                                                      
                                                                        <div id="successAlert" class="alert alert-success mt-3" style="display: none;">
                                                                        </div>
                                                                        <div id="failureAlert" class="alert alert-danger mt-3" style="display: none;">	
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary" onclick="submitForm()"  >Save changes</button>
                                                            </div>
                                                                </form>
                                                                
                                                </div>
                                            </div>
                                        </div>
                                            <!-- Add more fields as needed -->
                                        </tr>
                                        
                                    {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
	<script>
        function submitForm() {
			
            event.preventDefault();
            var formdata = new FormData(document.getElementById("myform"));
            var storedValue = sessionStorage.getItem('token');
            var requestOptions = {
                method: 'POST',
                headers: {
                    'X-Auth-Token': storedValue,
                },
                body: formdata,
            };

            fetch("http://localhost:4000/v1/accounts/update", requestOptions)
                .then(response => response.json()) // Parse the response as JSON
                .then(result => {
					console.log(result)
					if (result.responseCode === "00") {
                        
					 // Update the success message with the message from the API
                        document.getElementById("successAlert").innerText = result.message;
                        // Show the success alert
                        document.getElementById("successAlert").style.display = "block";
                        // Hide the alert after 7 seconds
                        setTimeout(function () {
                            document.getElementById("successAlert").style.display = "none";
                        }, 7000);
				}else {
                          document.getElementById("failureAlert").innerText = result.message;
                        // Show the failure alert
                        document.getElementById("failureAlert").style.display = "block";
                        // Hide the alert after 7 seconds
                        setTimeout(function () {
                            document.getElementById("failureAlert").style.display = "none";
                        }, 7000);
                    }

					
				})
            //     .catch(error => console.log('error', error));
        }
    </script>
{{ template "footer" . }}
