{{ template "header" . }}
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800 mx-auto">Account Details</h1>
      
	</div>
       
  <div class="card shadow mb-4">
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>BankNumber</th>
                                            <th>AccountNumber</th>
                                            <th>All Details</th>
                                            
                                          
                                        </tr>
                                    </thead>
                                
                                    {{ range .Accounts }}
                                        <tr>
                                            <td>{{ .AccountHolderName }}</td>
                                            <td>{{ .BankNumber }}</td>
                                            <td>{{ .AccountNumber }}</td>
                                            <td>
                                                <!-- <span class="material-symbols-outlined ViewAccount" data-bs-toggle="modal" data-bs-target="ade"> visibility </span> -->
                                               
                                              
                                                    <span class="material-symbols-outlined Vieworder" data-bs-toggle="modal"  data-bs-target="#{{ .AccountNumber }}" style="cursor: pointer;"> visibility </span>
                                                
                                            </td>
                                            <div class="modal fade" id="{{ .AccountNumber }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <h3>Account Information</h3>
                                                                <p><strong>Account Number:</strong> {{ .AccountNumber }}</p>
                                                                <p><strong>Bank Number:</strong> {{ .BankNumber }}</p>
                                                                <p><strong>Account Holder Name:</strong> {{ .AccountHolderName }}</p>
                                                                <p><strong>Account Balance:</strong> {{ .AccountBalance }}</p>
                                                                <p><strong>Overdraft:</strong> {{ .Overdraft }}</p>
                                                                <p><strong>Available Balance:</strong> {{ .AvailableBalance }}</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <h3>Contact Information</h3>
                                                                 <div class="input-group mb-3">
                                                                    <input type="text" name ="Id" value="{{ .AccountHolderDetails.GivenName }}" class="d-none" >
                                                                    <span class="input-group-text">GivenName</span>
                                                                    <input type="text" class="form-control"  name="GivenName" id="GivenName" value="{{ .AccountHolderDetails.GivenName }}"  oninvalid="this.setCustomValidity('Please Enter valid FoodTitle')" oninput="setCustomValidity('')" required>
                                                                
                                                                </div>
                                                                <p><strong>Given Name:</strong> {{ .AccountHolderDetails.GivenName }}</p>
                                                                <p><strong>Family Name:</strong> {{ .AccountHolderDetails.FamilyName }}</p>
                                                                <p><strong>Date of Birth:</strong> {{ .AccountHolderDetails.DateOfBirth }}</p>
                                                                <p><strong>Identification Number:</strong> {{ .AccountHolderDetails.IdentificationNumber }}</p>
                                                                <p><strong>Contact Number 1:</strong> {{ .AccountHolderDetails.ContactNumber1 }}</p>
                                                                <p><strong>Contact Number 2:</strong> {{ .AccountHolderDetails.ContactNumber2 }}</p>
                                                                <!-- Add more contact fields as needed -->
                                                                <p><strong>Email Address:</strong> {{ .AccountHolderDetails.EmailAddress }}</p>
                                                                <p><strong>Address Line 1:</strong> {{ .AccountHolderDetails.AddressLine1 }}</p>
                                                                <p><strong>Address Line 2:</strong> {{ .AccountHolderDetails.AddressLine2 }}</p>
                                                                <p><strong>Address Line 3:</strong> {{ .AccountHolderDetails.AddressLine3 }}</p>
                                                                <p><strong>Postal Code:</strong> {{ .AccountHolderDetails.PostalCode }}</p>
                                                                <p><strong>Country:</strong> {{ .AccountHolderDetails.Country }}</p>
                                                                <p><strong>Image:</strong> {{ .AccountHolderDetails.Image }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- Add more fields as needed -->
                                        </tr>
                                        
                                    {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
	<script>
        function submitForm() {
            var formdata = new FormData(document.getElementById("myform"));
            var requestOptions = {
                method: 'POST',
                headers: {
                    'X-Auth-Token': 'd25fdd5b-bf4d-4d7b-8763-7b53f2763f98',
                },
                body: formdata,
            };

            fetch("http://localhost:4000/v1/accountHistory", requestOptions)
                .then(response => response.json()) // Parse the response as JSON
                .then(result => {
                    console.log(result);
        
                })
                .catch(error => console.log('error', error));
        }
    </script>
{{ template "footer" . }}
