{{ template "header" . }}
<div class="container w-75">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h2 mb-10 text-gray-800 mx-auto">New CashPickup</h1>
	</div>
    <form id="cashPickupForm">
        <div class="row">
				<div class="col-6">
					 <div class="mb-3">
                        <label for="sendersAccountNumber" class="form-label">Sender's Account Number</label>
                        <input type="text" class="form-control" id="sendersAccountNumber" name="sendersAccountNumber"
                            required>
                    </div>
				</div>
				<div class="col-6">
					 <div class="mb-3">
                        <label for="firstName" class="form-label">Recepient First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required>
                    </div>
				</div>
		</div>
         <div class="row">
				<div class="col-6">
					 <div class="mb-3">
                        <label for="lastName" class="form-label">Recepient Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required>
                    </div>
                  
				</div>
				<div class="col-6">
                    <div class="mb-3">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" name="dob" required>
                    </div>
					
				</div>
		</div>
         <div class="row">
				<div class="col-6">
					      <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" name="country" required>
                    </div>
                   
				</div>
				<div class="col-6">
                     <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="state" name="state" required>
                    </div>
					
				</div>
		</div>
         <div class="row">
				<div class="col-6">
					              
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address" required>
                    </div>
                    
				</div>
				<div class="col-6">
                    <div class="mb-3">
						<label for="sex" class="form-label">Sex</label>
						
						<select class="form-select" aria-label="Default select example" id="sex"
							name="sex"
							required>
							<option disabled  selected>Select Sex</option>
							<option value="NIN">MALE</option>
							<option value="BVN">FEMALE</option>
						
						</select>
					</div>
					
				</div>
		</div>
         <div class="row">
				<div class="col-6">
					<div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    
				</div>
				<div class="col-6">
					<div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
				</div>
		</div>
         <div class="row">
				<div class="col-6">
					 <div class="mb-3">
                        <label for="currency" class="form-label">Currency</label>
                        <input type="text" class="form-control" id="currency" name="currency" required>
                    </div>
                    
				</div>
				<div class="col-6">
					<div class="mb-3">
                        <label for="reason" class="form-label">Reason</label>
                        <input type="text" class="form-control" id="reason" name="reason" required>
                    </div>
				</div>
		</div>
         <div class="row">
				<div class="col-6">
					 <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="text" class="form-control" id="amount" name="amount" required>
                    </div>
                   
				</div>
				<div class="col-6">
					 <div class="mb-3">
                        <label for="image" class="form-label">Image </label>
                        <input type="file" class="form-control" id="image" name="image" required>
                    </div>
				</div>
		</div>
         <div class="row">
				<div class="col-6">
                    <div class="mb-3">
                        <label for="bvn" class="form-label">BVN</label>
                        <input type="text" class="form-control" id="bvn" name="bvn" required>
                    </div>
				</div>
				<div class="col-6">
					  <div class="mb-3">
                        <label for="nin" class="form-label">NIN</label>
                        <input type="text" class="form-control" id="nin" name="nin" required>
                    </div>
				</div>
		</div>

        <button  type="button" onclick="submitForm(event)" class="btn btn-primary w-100  btn-custom mt-10">Submit</button>
             <div id="successAlert" class="alert alert-success mt-3" style="display: none;"></div>
			  <div id="failureAlert" class="alert alert-danger mt-3" style="display: none;"></div>
    </form>
  

</div>
<script>
    function submitForm(event) {
         event.preventDefault();
        // Get the form data
        var formData = new FormData(document.getElementById("cashPickupForm"));
		var storedValue = sessionStorage.getItem('token');
        // Send the form data using fetch
        fetch("/v1/cashPickup", {
            method: "POST",
            body: formData,
			headers: {
                    'X-Auth-Token': storedValue,
                },
        })
 .then(response => response.json()) // Parse the response as JSON
        .then(result => { 
			console.log(result)
           if (result.responseCode === "00") {
			console.log("success")
				document.getElementById("cashPickupForm").reset();
				// Update the success message with the message from the API
				document.getElementById("successAlert").innerText = result.status;
				// Show the success alert
				document.getElementById("successAlert").style.display = "block";
				// Hide the alert after 7 seconds
				setTimeout(function () {
					document.getElementById("successAlert").style.display = "none";
				}, 7000);}
			
			else if(result.responseCode === "07"){
                 window.location.href = "/v1/loginpage"

            }else {
				
                        document.getElementById("failureAlert").innerText = result.message;
                        // Show the failure alert
                        document.getElementById("failureAlert").style.display = "block";
                        // Hide the alert after 7 seconds
                        setTimeout(function () {
                            document.getElementById("failureAlert").style.display = "none";
                        }, 7000);
                    }
          
        })
        .catch(error => {
            // Handle errors
            console.error(error);
        });
    }
</script>


{{ template "footer" . }}
