{{ template "header" . }}
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h2 mb-0 text-gray-800 mx-auto">Account Creation</h1>
	</div>
	<div class="container w-75 mt-5">
		<div id="successAlert" class="alert alert-success mt-3" style="display: none;">
		
		</div>
	<div class="container w-100 mt-5">
		<form id="myForm" >
			<div class="row">
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderGivenName" class="form-label">Given Name</label>
						<input type="text" class="form-control" id="accountHolderGivenName" name="accountHolderGivenName" required />
					</div>
				</div>
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderFamilyName" class="form-label">Family Name</label>
						<input type="text" class="form-control" id="accountHolderFamilyName" name="accountHolderFamilyName" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderDateOfBirth" class="form-label">Date of Birth</label>
						<input type="date" class="form-control" id="accountHolderDateOfBirth" name="accountHolderDateOfBirth" required />
					</div>
				</div>
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderIdentificationNumber" class="form-label">Country</label>
						<input
							type="text"
							class="form-control"
							id="country"
							name="country"
							required
						/>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderIdentificationType" class="form-label">Identification Type</label>
						<input
							type="text"
							class="form-control"
							id="accountHolderIdentificationType"
							name="accountHolderIdentificationType"
							required
						/>
					</div>
				</div>
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderIdentificationNumber" class="form-label">Identification Number</label>
						<input
							type="text"
							class="form-control"
							id="accountHolderIdentificationNumber"
							name="accountHolderIdentificationNumber"
							required
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderContactNumber1" class="form-label">Contact Number 1</label>
						<input type="text" class="form-control" id="accountHolderContactNumber1" name="accountHolderContactNumber1" required />
					</div>
				</div>
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderContactNumber2" class="form-label">Contact Number 2</label>
						<input type="text" class="form-control" id="accountHolderContactNumber1" name="accountHolderContactNumber1" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderEmailAddress" class="form-label">Email Address</label>
						<input type="email" class="form-control" id="accountHolderEmailAddress" name="accountHolderEmailAddress" required />
					</div>
				</div>
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderAddressLine1" class="form-label">Address Line 1</label>
						<input type="text" class="form-control" id="accountHolderAddressLine1" name="accountHolderAddressLine1" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderAddressLine2" class="form-label">Address Line 2</label>
						<input type="text" class="form-control" id="accountHolderAddressLine2" name="accountHolderAddressLine2" required />
					</div>
				</div>
				<div class="col-6">
					<div class="mb-3">
						<label for="accountHolderAddressLine3" class="form-label">Address Line 3</label>
						<input type="text" class="form-control" id="accountHolderAddressLine3" name="accountHolderAddressLine3" required />
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-6">
					<div class="mb-3">
					<label for="accountHolderPostalCode" class="form-label">Postal Code</label>
					<input type="text" class="form-control" id="accountHolderPostalCode" name="accountHolderPostalCode" required />
					</div>
				</div>
				<div class="col-6">
					<div class="mb-3">
					<label for="formFile" class="form-label">Image</label>
					<input class="form-control" type="file" id="formFile" name="profilePicture">
					</div>
				</div>
				
			

			</div>
			
			
			
			   <div id="successAlert" class="alert alert-success mt-3" style="display: none;">
				</div>
				<div id="failureAlert" class="alert alert-danger mt-3" style="display: none;">	
				</div>
			 <button type="button" onclick="submitForm()" class="btn btn-custom btn-user btn-block">Submit</button>
		</form>
	</div>
</div>
<script>
    function submitForm() {
         event.preventDefault();
        // Get the form data
        var formData = new FormData(document.getElementById("myForm"));
		var storedValue = sessionStorage.getItem('token');
        // Send the form data using fetch
        fetch("/v1/accounts/create", {
            method: "POST",
            body: formData,
			headers: {
                    'X-Auth-Token': storedValue,
                },
        })
        .then(result => {
			console.log(result)
           if (result.responseCode === "00") {
			
				// Update the success message with the message from the API
				document.getElementById("successAlert").innerText = result.message;
				// Show the success alert
				document.getElementById("successAlert").style.display = "block";
				// Hide the alert after 7 seconds
				setTimeout(function () {
					document.getElementById("successAlert").style.display = "none";
				}, 7000);}
				else if(result.responseCode === "07"){
                 window.location.href = "http://localhost:4000/v1/loginpage"

            }
          
        })
        .catch(error => {
            // Handle errors
            console.error(error);
        });
    }
</script>
{{ template "footer" . }}
