{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Nouveau Mobile</title>
    <!-- gooele accounts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Custom styles for this template-->

     
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
     <!-- Custom css -->
     <link href="/static/css/main.css" rel="stylesheet">
     <!-- google icons -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion theme-background" id="accordionSidebar" >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                
                <div class="sidebar-brand-text mx-1">Nouveau Mobile</div>
              
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/v1/index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
                    
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                MENU
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <span class="material-symbols-outlined">
person
</span>

                    <span>Account Management</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/v1/createAccountPage">Account Creation</a>
                        <a class="collapse-item" href="/v1/ukAccountPage">Create UK Account</a>
                        <a class="collapse-item" href="/v1/usAccountPage">Create US Account</a>
                        <a class="collapse-item" href="/v1/accountHistoryPage">Account History</a>
                        <a class="collapse-item" href="/v1/balanceEnquiryPage">Balance Enquiry</a>
                        <a class="collapse-item" href="/v1/allAccountsPage">View All Accounts</a>
                        <a class="collapse-item" href="/v1/blockAccountPage">Block Account</a>
                        <a class="collapse-item" href="/v1/unblockAccountPage">Unblock Account</a>
     
                       
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <span class="material-symbols-outlined">
payments
</span>
                    <span>Transactions</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/v1/depositPage">Deposit Initiation</a>
                        <a class="collapse-item" href="/v1/withdrawalPage">Withdrawal Initiation</a>
                        <a class="collapse-item" href="/v1/creditPage">Transfer Initiation</a>
                        <a class="collapse-item" href="/v1/allTransactionsPage">View All Transactions</a>
                       
                         <a class="collapse-item" href="/v1/cashPickupPage">Cash Pickup</a>
                       
                        
                    
                    </div>
                </div>
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#records"
                    aria-expanded="true" aria-controls="collapseUtilities">
                   <span class="material-symbols-outlined">
                   air
                    </span>
                    <span>Records</span>
                </a>
                <div id="records" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">    
                    <div class="bg-white py-2 collapse-inner rounded">
                         <a class="collapse-item" href="/v1/inflowPage">Inflow History</a>
                        <a class="collapse-item" href="/v1/outflowPage">Outflow History</a>
                    
                    </div>
                </div>
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#cashpickup"
                    aria-expanded="true" aria-controls="collapseUtilities">
                   <span class="material-symbols-outlined">
shopping_cart
</span>
                    <span>Cash Pickup</span>
                </a>
                <div id="cashpickup" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">    
                    <div class="bg-white py-2 collapse-inner rounded">
                         <a class="collapse-item" href="/v1/cashPickupPage">New CashPickup</a>
                        <a class="collapse-item" href="/v1/allCashPickupPage">View All CashPickups</a>
                          <a class="collapse-item" href="/v1/userCashPickupPage">View User CashPickups</a>
                    
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#echannels"
                    aria-expanded="true" aria-controls="collapseUtilities">
                   <span class="material-symbols-outlined">
                    phone_iphone
                    </span>
                    <span>E-channels</span>
                </a>
                <div id="echannels" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">    
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/v1/depositPage">Beneficiaries</a>
                    
                    </div>
                </div>
            </li>
<li class="nav-item side-link">
                <a class="nav-link collapsed" href="/v1/currencyConversionPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined">
credit_card
</span>
                    <span>Currency Conversion</span>
                </a>
            </li>
           <li class="nav-item side-link ">
                <a class="nav-link collapsed" href="/v1/businessPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined">
library_books
</span>
                    <span>Ledger</span>
                </a>
            </li>
             <li class="nav-item side-link ">
                <a class="nav-link collapsed" href="/v1/businessPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined">
edit_square
</span>
                    <span>Audit</span>
                </a>
            </li>
            <li class="nav-item side-link ">
                <a class="nav-link collapsed" href="/v1/businessPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined">
work
</span>
                    <span>Businesses</span>
                </a>
            </li>
            <li class="nav-item side-link">
                <a class="nav-link collapsed" href="/v1/partnersPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined">
handshake
</span>
                    <span>Partners</span>
                </a>
            </li>
            <li class="nav-item side-link">
                <a class="nav-link collapsed" href="/v1/kycPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined me-2" >search</span>
                    <span> Kyc</span>
                </a>
            </li>
            
        
               <li class="nav-item side-link">
                <a class="nav-link collapsed" href="/v1/teamsPage"
                    aria-expanded="true" >
                <span class="material-symbols-outlined">
groups
</span>
                    <span>Team Members</span>
                </a>
            </li>
            <li class="nav-item side-link">
                <a class="nav-link collapsed" href="/v1/rolesPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined">
format_list_numbered
</span>
                    <span>Roles</span>
                </a>
            </li>
            <li class="nav-item side-link">
                <a class="nav-link collapsed" href="/v1/systemLogsPage"
                    aria-expanded="true" >
                    <span class="material-symbols-outlined">
code
</span>
                    <span>System Logs </span>
                </a>
            </li>
            

            <!-- Divider -->
            <hr class="sidebar-divider">

          

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div >
                        
                      <div class="d-flex align-items-center">
    <span class="material-symbols-outlined">
        account_circle
    </span>
    <h5 class="pt-3 ms-2">{{ .AdminName }}</h5>
</div>

                        </div>
                    </form>
                     <a class="btn btn-custom" type="button" href="/v1/signout"> 
                                   Sign out
                     </a>
                    

                       

                    </ul>

                </nav>
                <!-- End of Topbar -->
                {{ end }}